Eres un analista de datos que trabajas para una organización internacional que se enfoca en el desarrollo y el bienestar de los países. Tu objetivo es realizar un análisis inicial de estadísticas descriptivas sobre varios países utilizando el conjunto de datos proporcionado.

Objetivo: Realizar un análisis de estadísticas descriptivas para comprender mejor la situación de los países en términos de diversos indicadores.

Instrucciones:

Calcula las siguientes estadísticas descriptivas para las variables numéricas:

Media

Mediana

Desviación estándar

Mínimo

Máximo

Identifica el país con la mayor densidad de población y el país con la menor población en el conjunto de datos.

Calcula la tasa promedio de natalidad (birth_rate) para todos los países en el conjunto de datos.

Realiza un análisis de la mortalidad infantil (infant_mortality) y clasifica los países en tres categorías: baja, moderada y alta mortalidad infantil.

Calcula la correlación entre las variables de "fertility_rate" y "life_expectancy". Interpreta la relación entre estas dos variables. ¿Qué tipo de correlación hay? Explica la razón de esta relación

In [1]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# ------------------------------------------------------------------------------
from scipy.stats import shapiro, kstest

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

In [4]:
df=pd.read_csv("world_data_full_apply_nulos.csv", index_col=0)
df

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,continent
0,Afghanistan,60.0,AF,58.1,652.230,323.0,32.49,93.0,Kabul,8.672,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,NaN,48.9,9.3,71.4,11.12,NaN,33.939110,67.709953,Asia
1,Albania,105.0,AL,43.1,28.748,9.0,11.78,355.0,Tirana,4.536,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,NaN,55.7,18.6,36.6,12.33,NaN,41.153332,20.168331,Europe
2,Algeria,18.0,DZ,17.4,NaN,317.0,24.28,213.0,Algiers,150.006,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,NaN,41.2,37.2,66.1,11.70,NaN,28.033886,1.659626,Africa
3,Andorra,164.0,AD,40.0,468.000,NaN,7.20,376.0,Andorra la Vella,469.000,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77.142,NaN,NaN,NaN,NaN,67.873,42.506285,1.521801,Europe
4,Angola,26.0,AO,47.5,NaN,117.0,40.73,244.0,Luanda,34.693,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,NaN,77.5,9.2,49.1,6.89,NaN,-11.202692,17.873887,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32.0,VE,24.5,912.050,343.0,17.88,58.0,Caracas,164.175,NaN,254.9,VED,2.27,52.7,0.00,4.823593e+11,97.2,79.3,21.4,Caracas,72.1,125.0,0.01,Spanish,45.8,1.92,NaN,59.7,NaN,73.3,8.80,NaN,6.423750,-66.589730,South America
191,Vietnam,314.0,VN,39.3,331.210,522.0,16.75,84.0,Hanoi,192.668,163.52,2.8,VND,2.05,48.1,0.80,2.619212e+11,110.6,28.5,16.5,Ho Chi Minh City,75.3,43.0,0.73,Vietnamese,43.5,0.82,NaN,77.4,19.1,37.6,2.01,NaN,14.058324,108.277199,Asia
192,Yemen,56.0,YE,44.6,527.968,40.0,30.45,967.0,Sanaa,10.609,157.58,8.1,YER,3.79,1.0,0.92,2.691440e+10,93.6,10.2,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.0,0.31,NaN,38.0,NaN,26.6,12.91,NaN,15.552727,48.516388,Asia
193,Zambia,25.0,ZM,32.1,752.618,16.0,36.19,260.0,Lusaka,5.141,212.31,9.2,ZMW,4.63,65.2,1.40,2.306472e+10,98.7,4.1,40.4,Lusaka,63.5,213.0,0.24,English,27.5,1.19,NaN,74.6,16.2,15.6,11.43,NaN,-13.133897,27.849332,Africa
194,Zimbabwe,38.0,ZW,41.9,390.757,51.0,30.68,263.0,Harare,10.983,105.51,0.9,NaN,3.62,35.5,1.34,2.144076e+10,109.9,10.0,33.9,Harare,61.2,458.0,NaN,Shona,25.8,0.21,NaN,83.1,20.7,31.6,4.95,NaN,-19.015438,29.154857,Africa

In [ ]:
"""Calcula las siguientes estadísticas descriptivas para las variables numéricas: Media, Mediana Desviación estándar, Mínimo, Máximo

Identifica el país con la mayor densidad de población y el país con la menor población en el conjunto de datos."""

In [ ]:
df.describe().T

# crear una fun para calcular métricas. Con prints descriptivos.

,count,mean,std,min,25%,50%,75%,max
density,195.0,1.345045e+02,1.573068e+02,1.265000e+00,2.616850e+01,8.300000e+01,1.655000e+02,8.470000e+02
agricultural_land,188.0,3.911755e+01,2.178305e+01,6.000000e-01,2.170000e+01,3.960000e+01,5.537500e+01,8.260000e+01
land_area,165.0,2.552127e+02,2.583850e+02,0.000000e+00,4.127700e+01,1.484600e+02,4.300000e+02,9.640000e+02
armed_forces_size,166.0,1.037831e+02,1.671580e+02,0.000000e+00,1.025000e+01,2.850000e+01,1.282500e+02,9.360000e+02
birth_rate,189.0,2.021497e+01,9.945774e+00,5.900000e+00,1.130000e+01,1.795000e+01,2.875000e+01,4.608000e+01
calling_code,194.0,3.605464e+02,3.232364e+02,1.000000e+00,8.250000e+01,2.555000e+02,5.067500e+02,1.876000e+03
co2-emissions,183.0,1.259155e+02,1.817949e+02,1.016000e+00,7.600000e+00,3.447700e+01,1.850305e+02,7.279730e+02
cpi,175.0,1.441936e+02,5.478400e+01,9.903000e+01,1.136700e+02,1.247400e+02,1.559250e+02,5.509300e+02
cpi_change,179.0,6.722346e+00,2.445041e+01,-4.300000e+00,1.000000e+00,2.300000e+00,4.250000e+00,2.549000e+02
fertility_rate,188.0,2.698138e+00,1.282267e+00,9.800000e-01,1.705000e+00,2.245000e+00,3.597500e+00,6.910000e+00
forested_area,188.0,3.201543e+01,2.379133e+01,0.000000e+00,1.100000e+01,3.200000e+01,4.817500e+01,9.830000e+01
gasoline_price,175.0,1.002457e+00,3.688585e-01,0.000000e+00,7.550000e-01,9.800000e-01,1.240000e+00,2.000000e+00
gdp,193.0,4.772959e+11,2.172173e+12,4.727146e+07,8.454620e+09,3.438723e+10,2.340940e+11,2.142770e+13
gross_primary_education_enrollment,188.0,1.024702e+02,1.315161e+01,2.340000e+01,9.895000e+01,1.025500e+02,1.080250e+02,1.425000e+02
gross_tertiary_education_enrollment,183.0,3.796339e+01,2.926102e+01,8.000000e-01,1.215000e+01,3.120000e+01,6.315000e+01,1.366000e+02
infant_mortality,189.0,2.133280e+01,1.954806e+01,1.400000e+00,6.000000e+00,1.400000e+01,3.270000e+01,8.450000e+01
life_expectancy,187.0,7.227968e+01,7.483661e+00,5.280000e+01,6.700000e+01,7.320000e+01,7.750000e+01,8.540000e+01
maternal_mortality_ratio,181.0,1.603923e+02,2.335020e+02,2.000000e+00,1.300000e+01,5.300000e+01,1.860000e+02,1.150000e+03
minimum_wage,150.0,2.194133e+00,2.970796e+00,1.000000e-02,4.025000e-01,1.045000e+00,2.447500e+00,1.359000e+01
out_of_pocket_health_expenditure,188.0,3.263723e+01,1.917270e+01,2.000000e-01,1.745000e+01,3.070000e+01,4.397500e+01,8.160000e+01
physicians_per_thousand,188.0,1.839840e+00,1.684261e+00,1.000000e-02,3.325000e-01,1.460000e+00,2.935000e+00,8.420000e+00
population,39.0,3.335427e+02,2.964675e+02,1.008400e+01,8.713000e+01,2.150560e+02,5.561625e+02,9.735600e+02
population_labor_force_participation,176.0,6.273807e+01,1.050291e+01,3.800000e+01,5.615000e+01,6.245000e+01,6.950000e+01,8.680000e+01
tax_revenue,169.0,1.657396e+01,6.961632e+00,0.000000e+00,1.170000e+01,1.630000e+01,2.110000e+01,3.720000e+01
total_tax_rate,183.0,4.082240e+01,2.055766e+01,8.000000e+00,3.060000e+01,3.720000e+01,4.800000e+01,2.196000e+02
unemployment_rate,176.0,6.886364e+00,5.079216e+00,9.000000e-02,3.395000e+00,5.360000e+00,9.490000e+00,2.818000e+01
urban_population,45.0,2.794610e+02,2.833224e+02,5.464000e+00,4.076500e+01,1.790390e+02,4.177650e+02,9.848120e+02
latitude,194.0,1.909235e+01,2.396178e+01,-4.090056e+01,4.544175e+00,1.727385e+01,4.012460e+01,6.496305e+01
longitude,194.0,2.023243e+01,6.671611e+01,-1.751982e+02,-7.941496e+00,2.097265e+01,4.828152e+01,1.780650e+02

In [8]:
# Identifica el país con la mayor densidad de población y el país con la menor población en el conjunto de datos.

df["density"].max()

np.float64(847.0)

In [10]:
df["population"].min()

np.float64(10.084)

In [13]:
# Calcula la tasa promedio de natalidad (birth_rate) para todos los países en el conjunto de datos.

round(df["birth_rate"].mean(), 2)

np.float64(20.21)

In [ ]:
# Realiza un análisis de la mortalidad infantil (infant_mortality) y clasifica los países en tres categorías: baja, moderada y alta mortalidad infantil.

# Primero calculamos los percentiles:
q33 = df['infant_mortality'].quantile(0.33)
q66 = df['infant_mortality'].quantile(0.66)

df['infant_mortality_cat'] = df['infant_mortality'].apply(
    lambda x: 'Baja' if pd.notnull(x) and x <= q33 
    else ('Moderada' if pd.notnull(x) and x <= q66 
    else ('Alta' if pd.notnull(x) else np.nan))

)

# Ejemplos de la clase de otras soluciones del ejercicio:

In [ ]:
pd.cut(df["infant_mortality"], bins=3).unique() # pd.cut

[(29.1, 56.8], (1.317, 29.1], (56.8, 84.5], NaN]
Categories (3, interval[float64, right]): [(1.317, 29.1] < (29.1, 56.8] < (56.8, 84.5]]

In [41]:
pd.cut(df["infant_mortality"], bins=3, labels=["bajo", "medio", "alto"])

0      medio
1       bajo
2       bajo
3       bajo
4      medio
       ...
190     bajo
191     bajo
192    medio
193    medio
194    medio
Name: infant_mortality, Length: 195, dtype: category
Categories (3, object): ['bajo' < 'medio' < 'alto']

In [ ]:
df['infant_mortality_cat_2']= pd.cut(df["infant_mortality"], bins=3, labels=["bajo", "medio", "alto"])

In [ ]:
# También podríamos pasarle nosotras los intervalos si tengo los valores:

def cat(dato):
    if dato<15:
        return "menos"
    elif dato<54:
        return "mediano"
    else:
        return "alto"

In [44]:
df[['infant_mortality_cat_2','infant_mortality' ]]

    infant_mortality_cat_2  infant_mortality
0                    medio              47.9
1                     bajo               7.8
2                     bajo              20.1
3                     bajo               2.7
4                    medio              51.6
..                     ...               ...
190                   bajo              21.4
191                   bajo              16.5
192                  medio              42.9
193                  medio              40.4
194                  medio              33.9

[195 rows x 2 columns]

In [ ]:
df['infant_mortality_cat'].isnull().sum() # vemos que los nulos se han trasladado de manera correcta.

np.int64(6)

In [36]:
df['infant_mortality'].isnull().sum()

np.int64(6)

In [37]:
# Calcula la correlación entre las variables de "fertility_rate" y "life_expectancy". Interpreta la relación entre estas dos variables. ¿Qué tipo de correlación hay? Explica la razón de esta relación

df[["fertility_rate", "life_expectancy"]].corr(method="pearson")

                 fertility_rate  life_expectancy
fertility_rate         1.000000        -0.849153
life_expectancy       -0.849153         1.000000

In [38]:
df[["fertility_rate", "life_expectancy"]].corr(method="spearman")

                 fertility_rate  life_expectancy
fertility_rate         1.000000        -0.843047
life_expectancy       -0.843047         1.000000